<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="amazonSecurityNamespace" value="http://security.amazonaws.com/doc/2007-01-01/" />
    <add key="accessKeyId" value="" />
    <add key="secretKey" value="" />
    <add key="associateTag" value=""/>
  </appSettings>

  <system.web>
    
    <httpRuntime targetFramework="4.5" />
    
    <compilation debug="true" targetFramework="4.5" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
     
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="signingBehavior" type="Amazon.PAAPI.WCF.AmazonSigningBehaviorExtensionElement, Amazon.PAAPI.WCF, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="amazonEndpointBehavior">
          <signingBehavior accessKeyId="" secretKey="" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="AWSECommerceServiceBindingNoTransport" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="AWSECommerceServiceBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding4">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding5">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding6">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding7">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding8">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding9">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding10">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding11" />
        <binding name="CurrencyConvertorSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CurrencyConvertorSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService"
        behaviorConfiguration="amazonEndpointBehavior" binding="basicHttpBinding"
        bindingConfiguration="AWSECommerceServiceBinding" contract="AWSE.AWSECommerceServicePortType"
        name="AWSECommerceServicePort" />
      <!--<endpoint address="http://www.webservicex.net/CurrencyConvertor.asmx"
        binding="basicHttpBinding" bindingConfiguration="CurrencyConvertorSoap"
        contract="Currency.CurrencyConvertorSoap" name="CurrencyConvertorSoap" />-->
      <endpoint address="http://www.webservicex.net/CurrencyConvertor.asmx"
        binding="customBinding" bindingConfiguration="CurrencyConvertorSoap12"
        contract="Currency.CurrencyConvertorSoap" name="CurrencyConvertorSoap12" />
    </client>
  </system.serviceModel>
</configuration>
